<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>346202852426-pualpenk4p2q4g5bt2acdkclojka4e2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346202852426-pualpenk4p2q4g5bt2acdkclojka4e2d</string>
	<key>API_KEY</key>
	<string>AIzaSyDc3qXpCjzPDcd849DyuDQzlLCgzp_oNVM</string>
	<key>GCM_SENDER_ID</key>
	<string>346202852426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nasirali.Vegeee</string>
	<key>PROJECT_ID</key>
	<string>vegeee-b8b2a</string>
	<key>STORAGE_BUCKET</key>
	<string>vegeee-b8b2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346202852426:ios:79777517e03ba00e</string>
	<key>DATABASE_URL</key>
	<string>https://vegeee-b8b2a.firebaseio.com</string>
</dict>
</plist>